.rainbow {
  animation: rainbow 4s linear 0s infinite;
  color: red;
}

@keyframes rainbow {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

* {
  scroll-behavior: smooth;
}

#intro {
  display:grid;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "info photo";
}