.cardsBox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
}

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}


.content {
  background-image: url("/images/2024CompetitionRobotInPits.webp");
  background-size: cover;
  /* repeat is on to fix image disapearing on smaller screens */
  background-repeat: repeat;
  background-size: cover;
  background-position-y: 1000px;
}

.overlay {
  background-color: #fbb41680;
  height: 100%;
  width: 100%;
  display: flex;
}
